* {
	box-sizing: border-box;
}
body {
	background-color: darkred;
	font-family: 'Changa One', cursive;
}
.rod {
	display: flex;
	width: 1140px;
	margin: auto;
}
.left-text-block {
	width: 450px;
}
.left-text-block > p {
	text-align: center;
	font-size: 21px;
	color: #fff;
}
.right-image-block {
	width: 450px;
}
.right-image-block > img{
	width: 100%;
	display: block;
}
